html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

/* grid layout and nav animation */
body {
	display: grid;
	grid-template-rows: 64px 1fr;
}

div#aside-content {
	display: grid;
	grid-template-columns: 256px 256px 1fr;
	margin-left: -256px;
	transition: margin-left 1s;
	overflow-y: hidden;
	background-color: black;
}

div#aside-content.navigation-show {
	grid-template-columns: 256px 0px 1fr;
	margin-left: 0px;
	transition: margin-left 1s;
}

.navigation {
	grid-column: 1 / 2;
}
.content {
	grid-column: 2 / -1;
}

@media (min-width:768px) {
	div#aside-content {
		grid-template-columns: 256px 0px 1fr;
		margin-left: 0px;
	}
}

/* hide content when menu is presed */
div#aside-content.navigation-show .content {
	opacity: 0.5;
	filter: blur(1px);
}
div#aside-content.navigation-show .content > * {
	pointer-events: none;
}

/* common styles */
header {
	background-color: #ffbb00;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
header a.header-menu {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
header a.header-menu:hover {
	background-color: #daa104;
}

.title {
	font-family: 'Product Sans',Arial,sans-serif;
	font-size: 22px;
	font-weight: 500;
}
.title span {
	font-weight: bolder;
}

.searcher-header{
	border: none;
	background-color: rgba(136, 132, 132, 0.178);
	height: 100%;
	width: 35%;
	border-radius: 3px;
	padding-left: 35px;
}
.searcher-header:focus{
	background-color: white;
	outline: none;
}

.content {
	display: grid;
	padding: 25px;
	grid-template-rows: 46px repeat(auto-fill,minmax(120px,1fr)) ;
	grid-template-columns: repeat(auto-fill,minmax(240px,1fr)) ;
	grid-gap: 10px 20px;
}
.searcher-content {
	grid-row: 1 / 2;
	grid-column: 1 / -1;
	border: none;
	box-shadow: 0.2px 1px 5px gray;
	outline: none;
	padding: 5px;
}
.content-notes {
	padding: 10px;
	background-color: white;
	box-shadow: 2px 2px 5px gray;
}
.content-notes>p {
	font-family: 'Patrick Hand', cursive;
	font-size: 21px;
	font-weight: 500px;
}

.content, .navigation {
	background-color: #e8e8e8;
	overflow-y: auto;
}

.navigation {
	display: flex;
	flex-direction: column;
}

.navigation-items {
	display: flex;
	align-items: center;
	text-decoration: none;
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	padding-left: 20px;
}
.navigation-items + .navigation-items{
	margin-top: 1rem;
}
.navigation-items:hover {
	background-color: rgba(177, 174, 174, 0.596);
}
.navigation-items-separator {
	border-bottom: 0.5px solid #cec9c9;
}
.navigation-items > p {
	padding: 15px 0 15px 20px;
	color: black;
	font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	font-size: 15px;
}