html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

/* main layout */
body,
main,
.content,
.grid-notes {
	display: grid;
}

body {
	grid-template-rows: 64px 1fr;
}

main {
	grid-template-columns: 256px 256px 1fr;
}

.navigation {
	grid-column: 1 / 2;
}

.content {
	grid-column: 2 / -1;
	grid-template-rows: 50px 1fr;
	grid-gap: 16px;
	padding: 25px;
}

.grid-notes {
	grid-auto-rows: min-content;
	grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
	grid-gap: 20px;
}

.searcher-content {
	grid-column: 1 / -1;
	padding: 5px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	box-sizing: border-box;
}

.content-notes {
	padding: 10px;
}

/* animated aside */

main {
	margin-left: -256px;
	transition: margin-left 1s;
}

main.navigation-show {
	grid-template-columns: 256px 0px 1fr;
	margin-left: 0px;
}

@media (min-width:768px) {
	main {
		grid-template-columns: 256px 0px 1fr;
		margin-left: 0px;
	}
}

/* hide content when menu is presed */
main .content {
	transition: opacity 1s, filter 1s;
}

main.navigation-show .content {
	overflow-y: hidden;
	opacity: 0.5;
	filter: blur(1px);
}

main.navigation-show .content > * {
	pointer-events: none;
}

/* common logic styles */
header,
a.icon,
.navigation,
.navigation-items,
.searcher-content,
.content-notes {
	display: flex;
	align-items: center;
}

a.icon {
	justify-content: center;
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
}

header .title {
	display: none;
}

@media (min-width: 545px) {
	header .title {
		display: block;
	}
}

.header-optgroup-1 {
	display: none;
}

.header-optgroup-2 {
	display: flex;
}

@media (min-width: 400px) {
	.header-optgroup-1 {
		display: flex;
	}
}

input.searcher-header {
	flex-grow: 1;
	flex-basis: 100px;
	height: 100%;
	width: 35%;
	padding-left: 35px;
}

main {
	overflow-y: hidden;
	background-color: black;
}

.content,
.navigation {
	overflow-y: auto;
}

.navigation {
	flex-direction: column;
}

.navigation-items {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	padding-left: 20px;
}

.navigation-items + .navigation-items {
	margin-top: 1rem;
}

.navigation-items > p {
	padding: 15px 0 15px 20px;
}

.searcher-content {
	align-items: stretch;
}
.searcher-content > input {
	flex-grow: 1;
}

/* common beauty styles */
header {
	background-color: #ffbb00;
}

header > * {
	margin-left: 5px;
	margin-right: 5px;
}

a.icon-circle {
	border-radius: 50%;
}

a.icon {
	color: black;
	width: 32px;
	height: 32px;
	text-decoration: none;
}

header a.icon:hover {
	background-color: #daa104;
}

header .title {
	font-family: 'Product Sans',Arial,sans-serif;
	font-size: 22px;
	font-weight: 500;
}
header .title span {
	font-weight: bolder;
}

.searcher-header {
	border: none;
	background-color: rgba(136, 132, 132, 0.178);
	border-radius: 3px;
}
.searcher-header:focus {
	background-color: white;
	outline: none;
}

.searcher-content {
	box-shadow: 0.2px 1px 5px gray;
	background-color: white;
}

.searcher-content > input {
	border: none;
	outline: none;
	padding-left: 25px;
	padding-right: 25px;
}
.content-notes {
	background-color: white;
	box-shadow: 2px 2px 5px gray;
}

.content-notes > p {
	max-width: 100%;
	word-wrap: break-word;
	font-family: 'Patrick Hand', cursive;
	font-size: 21px;
	font-weight: 500px;
}

.content,
.grid-notes,
.navigation {
	background-color: #e8e8e8;
}

.navigation-items {
	text-decoration: none;
}
.navigation-items:hover {
	background-color: rgba(177, 174, 174, 0.596);
}
.navigation-items-separator {
	border-bottom: 0.5px solid #cec9c9;
}
.navigation-items > p {
	color: black;
	font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	font-size: 15px;
}