html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

/* main layout */
body,
div#aside-content,
.content {
	display: grid;
}

body {
	grid-template-rows: 64px 1fr;
}

div#aside-content {
	grid-template-columns: 256px 256px 1fr;
}

.navigation {
	grid-column: 1 / 2;
}

.content {
	grid-column: 2 / -1;
	padding: 25px;
	grid-template-rows: 46px repeat(auto-fill,minmax(120px,1fr)) ;
	grid-template-columns: repeat(auto-fill,minmax(240px,1fr)) ;
}

.searcher-content {
	grid-row: 1 / 2;
	grid-column: 1 / -1;
	padding: 5px;
}

.content-notes {
	padding: 10px;
}

/* animated aside */

div#aside-content {
	margin-left: -256px;
	transition: margin-left 1s;
}

div#aside-content.navigation-show {
	grid-template-columns: 256px 0px 1fr;
	margin-left: 0px;
}

@media (min-width:768px) {
	div#aside-content {
		grid-template-columns: 256px 0px 1fr;
		margin-left: 0px;
	}
}

/* hide content when menu is presed */
div#aside-content .content {
	transition: opacity 1s, filter 1s;
}

div#aside-content.navigation-show .content {
	opacity: 0.5;
	filter: blur(1px);
}

div#aside-content.navigation-show .content > * {
	pointer-events: none;
}

/* common logic styles */
header,
a.icon,
.navigation,
.navigation-items {
	display: flex;
	align-items: center;
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
}

a.icon {
	justify-content: center;
}

input.searcher-header {
	flex-grow: 1;
	flex-basis: 100px;
	height: 100%;
	width: 35%;
	padding-left: 35px;
}

div#aside-content {
	overflow-y: hidden;
	background-color: black;
}

.navigation {
	flex-direction: column;
}

.navigation-items {
	box-sizing: border-box;
	width: 100%;
	height: 48px;
	padding-left: 20px;
}

.content, .navigation {
	overflow-y: auto;
}

.navigation-items + .navigation-items {
	margin-top: 1rem;
}

.navigation-items > p {
	padding: 15px 0 15px 20px;
}

/* common beauty styles */
header {
	background-color: #ffbb00;
}

header > * {
	margin-left: 5px;
	margin-right: 5px;
}

header .icon-circle {
	border-radius: 50%;
}

header .icon {
	color: black;
	width: 32px;
	height: 32px;
	text-decoration: none;
}

header .icon:hover {
	background-color: #daa104;
}

.title {
	font-family: 'Product Sans',Arial,sans-serif;
	font-size: 22px;
	font-weight: 500;
}
.title span {
	font-weight: bolder;
}

.searcher-header {
	border: none;
	background-color: rgba(136, 132, 132, 0.178);
	border-radius: 3px;
}
.searcher-header:focus {
	background-color: white;
	outline: none;
}

.content {
	grid-gap: 10px 20px;
}

.searcher-content {
	border: none;
	box-shadow: 0.2px 1px 5px gray;
	outline: none;
}
.content-notes {
	background-color: white;
	box-shadow: 2px 2px 5px gray;
}
.content-notes > p {
	font-family: 'Patrick Hand', cursive;
	font-size: 21px;
	font-weight: 500px;
}

.content, .navigation {
	background-color: #e8e8e8;
}

.navigation-items {
	text-decoration: none;
}
.navigation-items:hover {
	background-color: rgba(177, 174, 174, 0.596);
}
.navigation-items-separator {
	border-bottom: 0.5px solid #cec9c9;
}
.navigation-items > p {
	color: black;
	font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	font-size: 15px;
}